* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body, html {
    width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #efefef;
}
.users{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.user-card{
    /* border: 2px solid green; */
    height: 356;
    width: 350px;
    margin: 20px;
    position: relative;
    box-shadow: 1opx 10px 0px 0px;
}
.user-card img {
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0px 0px;
}
.user-icons {
    /* border: 2px solid blue; */
    text-align: center;
    position: absolute;
    padding: 5px;
    width: 100%;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.713);
    visibility: hidden;
    transition: all 1s;
}
.user-card:hover .user-icons {
    visibility: visible;
}
.user-icons i {
    margin-left: 24px;
    font-size: 23px;
}
.user-card h3, .user-card p {
    text-align: center;
}