* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, html {
    width: 100%;
    overflow-x: hidden;
}
body {
    background-color: lightgray;
    margin: 0px;
}
.main {
    border: 2px solid red;
    background-color: lightblue;
    height: 160px;
    width: 278px;
    display: block;
    position: absolute;
    top: 37%;
    left: 35%;
}
.form {
    text-align: center;
}
/* .form button{
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    color:aliceblue;
} */
.form input {
    margin: 10px;
}