* {
    margin: 0px;
}
nav {
    height: 60px;
    width: 100%;
    background-color: black;
    box-sizing: border-box;
    padding: 20px;
}
span {
    color: white;
    font-weight: bolder;
    font-size: larger;
    padding: 20px;
}
nav :hover {
    cursor: pointer;
}
div {
    height: 550px;
    width: 100%;
    text-align: center;
}
div img{
    height: 513px;
    width: 100%;
}
footer {
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}