* {
    margin: 0%;
}
div {
    height: 500px;
    width: 100%;
    border: 1px solid black;
}
div details {
    /* border: 2px red solid; */
    padding: 10px;
}
div details summary {
    padding: 10px;
    cursor: pointer;
    color: rgba(55, 145, 235, 0.904);
    text-decoration: none;
}